 {% extends 'index/layout.html' %} {% load static %} {% block content %}
<div class="container mx-auto">
    <div id="contenido" class="pb-10">
        <header class="bg-teal-500  py-3 font-bold uppercase">
            <h2 class="text-center">Presupuesta tu estampa</h2>
        </header>

        <form class="mt-10 max-w-lg mx-auto" action="#" id="cotizar-estampa">
            <div class="flex items-center mb-5">
                <label class="font-bold  uppercase mr-2 w-20" for="metros">Cantidad metros:</label>
                <input type="number" id="metros" class="flex-1 p-0 appearance-none" style="width: 25%; height: 35px;">
            </div>
            <div class="flex items-center mb-5">
                <label class="font-bold  uppercase mr-2 w-20" for="colores">Cantidad colores: </label>
                <select class="flex-1 bg-gray-100 p-2 appearance-none" style="width: 25%; height: 35px;" id="colores">
                            
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>

            </div>


            <div id="cargando" class="hidden">
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
            <div id="resultado"></div>
            <div class="flex  justify-center py-4">
                <button type="submit" style="text-align: center; display: block; margin: 0 auto" class="mx-auto bg-teal-500 hover:bg-teal-700 font-bold py-2 px-20 rounded">Cotizar Estampa
                </button>
            </div>

        </form>
    </div>
    <!--#contenido-->
    <div>
        <p>Tené en cuenta que el mínimo de metros a estampar es de 60 metros. El cálculo de metros es lineal, siendo el máximo de ancho 1,70metros. Dentro del presupuesto está incluida la matriz, la cual te la guardamos por un tiempo determinado, es decir,
            si dentro de dos meses queres realizar la misma estampa, solo se abona la estampa. Los dibujos son todos pintura al agua, no curbritivas. Cualquier consulta no dudes en contactarnos
        </p>
    </div>
</div>


{% endblock %}