html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0 auto;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    background-image: url("../img/tiny-squares.png");
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    font-size: 25px;
    margin: 20px auto;
}


/* ---------HEADER Y NAV--------------- */

.cabecera {
    background-color: rgba(245, 134, 52, 0.8);
}

.titulo {
    text-align: center;
    padding-top: 10px;
}

.titulo h1 {
    font-size: 30px;
    padding-top: 20px;
}

.contenedor-logo img {
    width: 15%;
}

nav button {
    color: black;
}

.parrafo-carousel p {
    display: inline;
    padding: 10px 5px;
    background-color: rgba(245, 134, 52, 0.8);
    border-radius: 5px;
    margin-top: 20px;
}

.carousel-item {
    margin-bottom: 25px;
}

.carousel-item img {
    width: 80%;
    height: 200px;
    margin-bottom: 20px;
}

@media(min-width: 800px) {
    .titulo {
        display: flex;
        text-align: left;
    }
    .contenedor-logo img {
        width: 40%;
        margin-left: 20px;
    }
    .contenedor-logo {
        width: 20%;
    }
    .titulo h1 {
        align-self: center;
        font-size: 2em;
    }
    .carousel-item img {
        width: 60%;
        height: 500px;
        margin-bottom: 25px;
    }
    .contenedor-barra {
        text-align: center;
    }
    .carousel-item {
        padding-bottom: 30px;
    }
    .carousel h2 {
        font-size: 2em;
    }
}


/*
  ----------------------QUIENES SOMOS, SERVICIOS---------- */

.quienes_somos,
.servicios {
    margin-top: 20px;
    padding: 20 0 20 0px;
    margin-bottom: 0;
    text-align: center;
}

.ofertas {
    background-color: rgba(9, 87, 195, 0.8);
    border-radius: 10px;
    padding: 25px 0 25px 0;
}

.quienes_somos h2,
.servicios h2 {
    text-align: center;
    color: white;
}

.quienes_somos p {
    margin: 0;
}


/*
  ----------------------TRABAJOS REALIZADOS---------- */

.card img {
    width: 100%;
    text-align: center;
    margin: 0 auto
}


/*----------------------TRABAJOS REALIZADOS---------- */

#cotizar-estampa {
    margin-bottom: 25px;
    padding: 15px 15px;
    border-radius: 10px;
    color: white;
    background-color: rgb(9, 87, 195);
}

.especificacion-cotizacion {
    background-color: rgba(9, 87, 195, 0.8);
    padding: 15px 15px;
    border-radius: 10px;
}

.etiqueta-cotizador {
    display: block;
    text-align: center;
}

#colores {
    display: block;
    margin: 0 auto;
}

#metros {
    display: block;
    margin: 0 auto;
}


/*----------------------CONTACTO---------- */

.tabla-contacto {
    color: white;
    background-color: rgb(9, 87, 195);
    padding: 15px 15px;
    border-radius: 10px;
}

table {
    border-collapse: unset;
}


/*----------------------FOOTER---------- */

footer {
    background-color: #F58634;
    padding: 20px 0;
    /*position: absolute;*/
    /*width:100%;*/
    /*bottom: 0;*/
}

footer p {
    margin: 0px;
}

.letra-total-grande {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px 5px;
}